body {
  background-image: url("../img/back.png");
  background-repeat:no-repeat;
  background-size: 100%;
  color: white;
}

  .result {
  display: none;
}

#survey {
  background-color: lightblue;
}

.jumbotron p {
  font-style: italic;
  color: black;
}
h1 {
  text-align: center;
  font-style: oblique;
  color: black;
}
.questions {
  letter-spacing: noormal;
}

#ruby, #css, #java {
  float: left;
}

#arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#rails, #design, #android {
  float: right;
}

#rubyrails, #cssdesign, #javaandroid, #ruby, #rails, #css, #design, #java, #arrow, #android {
  display: none;
}

img {
  min-width: 100px;
  height: 200px;
  border:5px solid grey;
  padding:50px;
  margin: 70px;
}


.info {
  float: left;
}
